*.gz
*.log
.deps
INSTALL
INSTALL.txt
LICENSE.txt
Makefile
Makefile.in
NEWS
README
TODO
aclocal.m4
autom4te.cache
bindings.rdf
bindings_config.h
bindings_config.h.in
bugs/
config.cache
config.log
config.status
configure
libtool
mkinstalldirs
not-used
old
redland-bindings.spec
releases
stamp*
dlang/source/rdf/config.d
**/.Rproj.user
**/.Rhistory
**/*.RData
**/*.Rproj
**/*.o
**/*.so
**/.Rproj.user
**/redland-stamp
**/test-out.rdf
.Rproj.user
Makevars
ltmain.sh
